* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: aliceblue;
}

.everything {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 4rem;
    text-align: center;
    background-color: purple;
    width: 100%;
}

.cards {
    display: flex;
    gap: 30px;
}

.card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 215, 255);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.control-mode {
    display: flex;
    gap: 20px;
}

.control-mode>button {
    color: white;
    background-color: darkslateblue;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 25px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.control-mode>button:hover {
    background-color: slateblue;
}

#control-button {
    background-color: darkslateblue;
    color: white;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 30px;
    width: 285px;
    height: 50px;
    cursor: pointer;
}

#control-button:hover {
    background-color: slateblue;
}

.game-grid {
    display: grid;
    /* idk responsive */
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms;
    border: 2px solid purple;
    font-size: 80px;
    background-color: lavender;
    cursor: pointer;
}

.tile:hover {
    background-color: rgba(137, 43, 226, 0.75) !important;
}

.won {
    background-color: blueviolet;
    color: white;
}

.hide {
    display: none;
}

.score {
    padding: 10px;
    background-color: purple;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.blink {
    animation: bebop 600ms linear 3;
}

@keyframes bebop {
    0% {
        color: black;
    }

    50% {
        color: white;
    }

    100% {
        color: black;
    }
}

.focusOut {
    color: rgb(70, 70, 70);
}